# Python Bytecode & Cache
__pycache__/
*.py[cod]
*.class
*.so

# Virtual Environments
.venv/
venv/
env/
ENV/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Logs & Temporary Files
*.log
*.tmp
*.swp

# Testing & Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.nox/

# IDE / Editor
.vscode/
.idea/
.ropeproject/

# ML / Data Science Tools
# MLflow
mlruns/
mlflow.db

# CatBoost
catboost_info/

# Model Artifacts
*.pkl
*.joblib
*.h5
*.keras
*.onnx

# Build / Distribution
build/
dist/
*.egg-info/

# OS & System Files
.DS_Store
Thumbs.db

# Project-specific folders
notebooks/fault-detection/DL-comparisons/dl_mlflow_outputs/
notebooks/fault-detection/model-comparisons/mlflow.db
notebooks/fault-detection/model-comparisons/mlruns/
notebooks/fault-detection/model-comparisons/metrics_summary.csv

# Database / Data files
*.db
data/

# Ignore everything in this folder
notebooks/fault-detection/yolo_panel_detection_model/*

# But keep YAML and notebooks and .py files
!notebooks/fault-detection/yolo_panel_detection_model/*.yaml
!notebooks/fault-detection/yolo_panel_detection_model/*.ipynb
!notebooks/fault-detection/yolo_panel_detection_model/*.py


# trained models
models/
*.pt
*.pth
*.onnx
*.h5
*.keras
*.ckpt
*.weights
*.pkl
# experiment tracking
mlruns/


# mac junk
.DS_Store


datasets/
data/
*.zip
*.rar
*.mat
*.csv
