# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.class
*.so

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs & Temporary Files
# =========================
*.log
*.tmp
*.swp

# =========================
# Testing / Coverage
# =========================
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.nox/

# =========================
# IDEs
# =========================
.vscode/
.idea/
.ropeproject/

# =========================
# MLflow
# =========================
mlruns/
mlflow.db

# =========================
# CatBoost
# =========================
catboost_info/

# =========================
# Model Artifacts
# =========================
*.pkl
*.joblib
*.h5
*.keras
*.onnx

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

