# Python Bytecode & Cache
__pycache__/
*.py[cod]
*.class
*.so

# Virtual Environments
.venv/
venv/
env/
ENV/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Logs & Temporary Files
*.log
*.tmp
*.swp

# Testing & Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.nox/

# IDE / Editor
.vscode/
.idea/
.ropeproject/

# ML / Data Science Tools
# MLflow
mlruns/
mlflow.db

# CatBoost
catboost_info/

# Model Artifacts
*.pkl
*.joblib
*.h5
*.keras
*.onnx

# Build / Distribution
build/
dist/
*.egg-info/

# OS & System Files
.DS_Store
Thumbs.db

# Project-specific folders
notebooks/fault-detection/DL-comparisons/dl_mlflow_outputs/
notebooks/fault-detection/model-comparisons/mlflow.db
notebooks/fault-detection/model-comparisons/mlruns/
notebooks/fault-detection/model-comparisons/metrics_summary.csv

# Database / Data files
*.db
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/