#synthetic data generation - resources
- Generating Synthetic Time Series Photovoltaic Data with Real-World
Physical Challenges and Noise for Use in Algorithm Test and Validation
Matthew Muller, Kevin Anderson, and Michael Deceglie National Renewable
Energy Laboratory
https://docs.nrel.gov/docs/fy23osti/86459.pdf

