/* Page background */
.main {
    background-color: #ffffff;
}

/* Metric cards */
.stMetric {
    background-color: #000000;
    padding: 15px; 
    border-radius: 10px
}

/* Buttons */
.stButton>button {
    width: 100%;
    border-radius: 5px;
    height: 3em
}

/* Success box */
.stAlert {
    border-radius: 10px;
}
